<div class="profile-card" (click) = "displayHelper()">
  <img src="../../../assets/profile.jpg" alt="Profile Photo" class="profile-img" />
  <div class="profile-info">
    <h3 class="profile-name">Indu Gundam</h3>
    <p class="profile-role">Software Developer</p>
  </div>
</div>
<div class="profile-card">
  <img src="../../../assets/profile.jpg" alt="Profile Photo" class="profile-img" />
  <div class="profile-info">
    <h3 class="profile-name">Indu Gundam</h3>
    <p class="profile-role">Software Developer</p>
  </div>
</div>
<div class="profile-card">
  <img src="../../../assets/profile.jpg" alt="Profile Photo" class="profile-img" />
  <div class="profile-info">
    <h3 class="profile-name">Indu Gundam</h3>
    <p class="profile-role">Software Developer</p>
  </div>
</div>
<div class="profile-card">
  <img src="../../../assets/profile.jpg" alt="Profile Photo" class="profile-img" />
  <div class="profile-info">
    <h3 class="profile-name">Indu Gundam</h3>
    <p class="profile-role">Software Developer</p>
  </div>
</div>
<div class="profile-card">
  <img src="../../../assets/profile.jpg" alt="Profile Photo" class="profile-img" />
  <div class="profile-info">
    <h3 class="profile-name">Indu Gundam</h3>
    <p class="profile-role">Software Developer</p>
  </div>
</div>