<div class="vertical-step-tracker">
  <div class="step">
    <div class="circle"></div>
    <div class="step-text">
      <h3 class="heading">Helper Details</h3>
      <p>Add helper details</p>
    </div>
  </div>
  <span class="line"></span>
  <div class="step">
    <div class="circle"></div>
    <div class="step-text">
      <h3 class="heading">Documents</h3>
      <p>Upload related documents</p>
    </div>
  </div>
  <span class="line"></span>
  <div class="step">
    <div class="circle"></div>
    <div class="step-text">
      <h3 class="heading">Review</h3>
      <p>Check the information and review</p>
    </div>
  </div>
</div>
