<div class="helper-details-container">
  <div class="profile-header">
    <div class="profile-card">
      <img src="../../../assets/profile.jpg" alt="Profile Photo" class="profile-img" />
      <div class="profile-info">
        <h2 class="profile-name">{{ helper.name }}</h2>
        <p class="profile-role">{{ helper.role }}</p>
      </div>
      <div class="edit-buttons">
        <button type="button" class="edit-btn"><lucide-icon [name]="pencil"></lucide-icon></button>
        <button type="button" class="trash-btn"><lucide-icon [name]="trash"></lucide-icon></button>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="title">
      <h4>PERSONAL DETAILS</h4>
      <span class="line"></span>
    </div>
    <div class="info-flex">
      <div class="info-item">
        <p class="label">Gender</p>
        <p class="value">{{ helper.gender }}</p>
      </div>
      <div class="info-item">
        <p class="label">Language(s)</p>
        <p class="value">{{ helper.languages?.join(', ') }}</p>
      </div>
      <div class="info-item">
        <p class="label">Mobile no</p>
        <p class="value">{{ helper.phone }}</p>
      </div>
      <div class="info-item">
        <p class="label">Email</p>
        <p class="value">{{ helper.email || '-' }}</p>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="title">
      <h4>SERVICE DETAILS</h4>
      <span class="line"></span>
    </div>
    <div class="info-flex">
      <div class="info-item">
        <p class="label">Type</p>
        <p class="value">{{ helper.role }}</p>
      </div>
      <div class="info-item">
        <p class="label">Organization</p>
        <p class="value">{{ helper.organization }}</p>
      </div>
    </div>
  </div>
</div>