<div *ngIf="helper" class = "container">
  <h3 class = "name">{{ helper.name }}</h3>
  <p class = "role">{{ helper.role }}</p>
  <h3>PERSONAL DETAILS</h3>
    <div class = "personal_details">
      <p class = "heading">Gender</p>
      <p class = "value">{{helper.gender}}</p>
      <p class = "heading">Language(s)</p>
      <p class = "value">{{helper.language}}</p>
      <p class = "heading">Mobile no</p>
      <p class = "value">{{helper.phone}}</p>
      <p class = "heading">Email</p>
      <p class = "value">{{helper.email}}</p> 
    </div>
    <h3>SERVICE DETAILS</h3>
    <div class = "service_details">
      <p class = "heading">Type</p>
      <p class = "value">{{helper.role}}</p>
       <p class = "heading">Organization</p>
      <p class = "value">{{helper.organization}}</p>
    </div>

</div>
<div *ngIf="!helper" class = "container">
  <p>Select a helper to view details.</p>
</div>
