.helper-details-container {
  max-width: 800px;
  margin: 0 auto;
  min-height: 100vh;
  align-items: stretch;
  padding: 2rem;
  background-color: #fdfafa;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
  display: flex;
  justify-content: left;
  margin-bottom: 2rem;
  width: 100%;
}

.profile-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
  padding: 12px 20px;
  border: 1px solid #fcfafa;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  width: 100%;

  .edit-buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #333;


    button {
      background: transparent;
      border: none;
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: #f6f0f0;
      }

      lucide-icon {
        width: 20px;
        height: 20px;
        stroke-width: 2;
        color: #333;
      }
    }
  }
}

.profile-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #f8e0f8;
  font-size: 20px;
  font-weight: bold;
  color: #dc9ffb;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.profile-info {
  flex: 1;
  min-width: 120px;
}


.profile-name {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
}

.profile-role {
  margin-top: 4px;
  font-size: 0.85rem;
  color: #666;
}

.section {
  margin-top: 2rem;

  h4 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #6f6d6d;
    display: block;
  }

  h3::after {
    content: '';
    display: block;
    margin-top: 10px;
    border-bottom: 1px solid #000;
  }
}

.info-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  flex-direction: column;
  padding-bottom: 10px;
}

.info-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  min-width: 200px;

  .label {
    font-size: 1rem;
    color: #888;
    font-weight: 300;
    margin: 0;
    min-width: 90px;
  }

  .value {
    font-size: 0.95rem;
    font-weight: 600;
    color: #222;
    margin: 0;
    margin-left: 150px;
  }

  .emp {
    margin-left: 130px;
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.title h4 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
}

.title .line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
}

.viewdoc {
  display: flex;
  align-items: center;
}

.view-button {
  display: inline-flex;
  align-items: center;
  gap: 0;
  border: none;
  background-color: white;
  color: blue;
  padding: 0;
  margin: 0;
  font-size: 0.6rem;
  line-height: 1;

  lucide-icon {
    width: 18px;
    height: 18px;
    stroke-width: 2;
    margin-right: 2px;

  }
}