.helper-details-container {
   max-width: 800px;
    margin: 0 auto;
    min-height: 100vh;
    align-items: stretch; 
    padding: 2rem;
    background-color: #fdfafa;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
  display: flex;
  justify-content: left;
  margin-bottom: 2rem;
  width: 100%;
}

.profile-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap; 
  padding: 12px 20px;
  border: 1px solid #fcfafa;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  width: 100%;
}


.edit-buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  button {
    background: transparent;
    border: none;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #f6f0f0;
    }

    lucide-icon {
      width: 20px;
      height: 20px;
      stroke-width: 2;
    }
  }
}


.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.profile-info {
  flex: 1;
  min-width: 120px;
}


.profile-name {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
}

.profile-role {
  margin-top: 4px;
  font-size: 0.5rem;
  color: #666;
}

.section {
  margin-top: 2rem;

  h4 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #858383;
    display: block;
  }

  h3::after {
    content: '';
    display: block;
    margin-top: 10px;
    border-bottom: 1px solid #000;
  }
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding-bottom: 10px;
}

.info-item {
  padding-bottom: 10px;

  .label {
    font-size: 0.85rem;
    color: #888;
    margin: 0;
  }

  .value {
    font-size: 1rem;
    font-weight: 500;
    color: #222;
    margin: 0.2rem 0 0;
  }
}

