<div class="form-container">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <h2>Update Form</h2>
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Role</mat-label>
            <mat-select formControlName="role">
                <mat-option *ngFor="let role of serviceTypes" [value]="role">{{ role }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Organization</mat-label>
            <mat-select formControlName="organization">
                <mat-option *ngFor="let org of organizations" [value]="org">{{ org }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-radio-group formControlName="gender" class="gender-radio">
            <mat-radio-button value="Male">Male</mat-radio-button>
            <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>

        <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phone" type="tel" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Languages</mat-label>
            <mat-select formControlName="languages" multiple>
                <mat-option *ngFor="let lang of languageOptions" [value]="lang">{{ lang }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Vehicle Type</mat-label>
            <mat-select formControlName="vehicleType">
                <mat-option *ngFor="let type of vehicleTypes" [value]="type">{{ type }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="editForm.get('vehicleType')?.value !== 'None'" appearance="outline">
            <mat-label>Vehicle Number</mat-label>
            <input matInput formControlName="number" />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Update Helper</button>
    </form>
</div>