<form class="helper-form">
  <div class="left-section">
    <button type="button" class="filter-btn" matButton [matMenuTriggerFor]="filter"><lucide-icon
        [name]="arrowDownUp"></lucide-icon></button>
    <mat-menu #filter="matMenu">
      <button mat-menu-item (click)="sortByName()">Helpers Name(A-Z)</button>
      <button mat-menu-item>Employee ID</button>
    </mat-menu>
    <button type="button" class="sort-btn" matButton [matMenuTriggerFor]="filter"><lucide-icon
        [name]="funnel"></lucide-icon></button>
    <mat-menu #filter="matMenu">
      <p>Filter by</p>
      <button mat-menu-item (click)="sortByName()">Helpers Name(A-Z)</button>
      <button mat-menu-item>Employee ID</button>
    </mat-menu>
    <button type="button" class="calendar-btn"><lucide-icon [name]="calendar"></lucide-icon></button>

    <div class="input-wrapper">
      <input type="text" placeholder="Name, Employee ID, Role" (focus)="isTouched = true" />

      <span class="search-icon">
        <lucide-icon [name]="search"></lucide-icon>
      </span>

      <span class="close-icon" *ngIf="isTouched">
        <lucide-icon [name]="x" (click)="displayAll()"></lucide-icon>
      </span>
    </div>
    <div class="emp-count">
      <p>{{helpersCount}} helpers</p>
    </div>

  </div>

  <div class="right-buttons">
    <button type="button" class="download-btn"><lucide-icon [name]="download"></lucide-icon></button>
    <a [routerLink]='["addHelper"]'>
      <button (click)="onAddHelper()" type="button" class="add-btn">
        <span class="plus-icon">+</span>Add Helper
      </button>
    </a>
  </div>
</form>