<div class="helper-form">
  <h2>Helper details</h2>
  <p>Track, Add and manage all your helpers at one place</p>
  <form [formGroup]="helperForm" (ngSubmit)="onSubmit()">
  <div class="photo-upload">
    <label for="photo">Upload<br />Photo</label>
    <input type="file" id="photo" (change)="onPhotoChange($event)" accept="image/*" required/>
    <img *ngIf="photoUrl" [src]="photoUrl" class="avatar-preview" alt="Avatar Preview" />
    <p>Upload photo(.png, .jpeg) size 5Mb</p>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Type of Service</mat-label>
    <mat-select formControlName="role" required>
      <mat-option *ngFor="let type of serviceTypes" [value]="type">{{ type }}</mat-option>
    </mat-select>
    <mat-error *ngIf="helperForm.get('role')?.hasError('required') && helperForm.get('role')?.touched">
  Role is required
</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Organization</mat-label>
    <mat-select formControlName="organization" required>
      <mat-option *ngFor="let org of organizations" [value]="org">{{ org }}</mat-option>
    </mat-select>
    <mat-error *ngIf="helperForm.get('role')?.hasError('required') && helperForm.get('role')?.touched">
  Organization is required
</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
  <mat-label>Full Name</mat-label>
  <input matInput formControlName="name" required />
  <mat-error *ngIf="helperForm.get('name')?.hasError('required') && helperForm.get('name')?.touched">
    Name is required
  </mat-error>
</mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Languages</mat-label>
    <mat-select formControlName="languages" multiple>
      <mat-option *ngFor="let lang of languageOptions" [value]="lang">{{ lang }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="gender-group">
    <label>Gender:</label>
    <mat-radio-group formControlName="gender">
      <mat-radio-button value="Male">Male</mat-radio-button>
      <mat-radio-button value="Female">Female</mat-radio-button>
      <mat-radio-button value="Other">Other</mat-radio-button>
    </mat-radio-group>
  </div>

<mat-form-field appearance="outline">
  <mat-label>Phone Number</mat-label>
  <input matInput formControlName="phone" required />
  <mat-error *ngIf="helperForm.get('phone')?.hasError('required') && helperForm.get('phone')?.touched">
    Phone number is required
  </mat-error>
  <mat-error *ngIf="helperForm.get('phone')?.hasError('pattern') && helperForm.get('phone')?.touched">
    Phone number must be exactly 10 digits
  </mat-error>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Email</mat-label>
  <input matInput formControlName="email"  placeholder="example@abc.com"/>
  <mat-error *ngIf="helperForm.get('email')?.hasError('email') && helperForm.get('email')?.touched">
    Enter a valid email address
  </mat-error>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label> Choose Vehicle Type</mat-label>
    <mat-select formControlName="vehicleType">
      <mat-option *ngFor="let vehicle of vehicleTypes" [value]="vehicle">{{ vehicle }}</mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field appearance="outline" *ngIf="helperForm.get('vehicleType')?.value !== 'None'">
  <mat-label>Vehicle Number</mat-label>
  <input matInput formControlName="number" required />
  <mat-error *ngIf="helperForm.get('number')?.hasError('required') && helperForm.get('number')?.touched">
    Vehicle number is required
  </mat-error>
</mat-form-field>

  <div class="doc-upload">
  <mat-label>KYC Document</mat-label>
  <label for="doc" (click)="openDialog()">+</label>
  </div>

  <button mat-raised-button color="primary" type="submit" [disabled]="helperForm.invalid">
    Add Helper
  </button>
</form>
