.dialog-content {
    text-align: center;
    padding: 2rem 2.5rem 1rem 0.5rem;
    font-family: Arial, sans-serif;
}

.close-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-top: 0;
    font-size: 1.25rem;
    color: #444;
    padding-left: 400px;
}

.msg {
    text-align: left;
    padding-left: 20px;
    font-size: medium;
    color: black;
}

.highlight {
    color: red;
}

.close-btn:hover {
    color: #000;
}

p {
    margin: 0 0 1.5rem 0;
    color: #666;
    font-size: 0.9rem;
    text-align: left;
    padding-left: 20px;
}

.icon {
    background-color: white;
    border: none;
    color: red;

}

.container {
    text-align: left;
    padding-left: 12px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.75rem;
}

.cancel-btn,
.del-btn {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    user-select: none;
}

.cancel-btn {
    background-color: #ccc;
    color: #333;
}

.cancel-btn:hover {
    background-color: #bbb;
}

.del-btn {
    background-color: #e53e3e;
    color: white;
}

.del-btn:hover {
    background-color: #c53030;
}