.form-layout-wrapper {
  padding: 16px;
  display: block;

  a {
    text-decoration: none;
  }

  .nav {
    text-align: left;
    margin-bottom: 10px;

    h3 {
      margin: 0;
      font-size: 1.25rem;
      color: #333;

    }

    .icon {
      display: flex;
    }
  }

  .content-flex {
    display: flex;

    .track-left {
      flex: 0 0 20%;
      max-width: 20%;
    }

    .form-right {
      flex: 1;
      max-width: 80%;
      padding-left: 12px;
    }
  }
}