<div class="form-layout-wrapper">
  <div class="nav">
    <a [routerLink]='[""]'>
      <h3 class="icon"><lucide-icon [name]="chevronleft"></lucide-icon>{{!this.helperService.isEditMode ? 'Add Helper' :
        'Edit Helper'}}</h3>
    </a>
  </div>

  <div class="content-flex">
    <div class="track-left">
      <app-track-details *ngIf="!this.helperService.isEditMode"></app-track-details>
      <app-edit-track-details *ngIf="this.helperService.isEditMode"></app-edit-track-details>
    </div>
    <div class="form-right">
      <app-helper-form></app-helper-form>
    </div>
  </div>
</div>