.form-layout-wrapper {
  padding: 16px;
  display: block;

  a {
    text-decoration: none;
  }

  .nav {
    text-align: left;
    margin-bottom: 10px;

    h3 {
      margin: 0;
      font-size: 1.25rem;
      color: #333;

    }

    .icon {
      display: flex;
    }
  }

  .content-flex {
    display: flex;

    .track-left {
      max-width: 400px;
      border-right: 1px solid #ccc;
      padding-right: 8px;
    }

    .form-right {
      flex: 1;
      max-width: 1000px;
      padding-left: 12px;
    }
  }
}