.profile-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin: 0.5rem 0;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        background-color: #ecf3f8;
        transform: scale(1.01);
    }

    &.selected {
        border-color: #3f51b5;
        background-color: #e8eaf6;
    }
}

.profile-img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #f8e0f8;
    font-size: 20px;
    font-weight: bold;
    color: #dc9ffb;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}


.profile-info {
    display: flex;
    flex-direction: column;


    .profile-name {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0;
    }

    .profile-role {
        font-size: 0.95rem;
        color: #666;
        margin: 0.25rem 0 0 0;
    }
}

.helper-list-scroll-container {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    padding-right: 0.5rem;
}

.helper-list-scroll-container::-webkit-scrollbar {
    width: 6px;
}

.helper-list-scroll-container::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
}

.helper-list-scroll-container::-webkit-scrollbar-track {
    background: transparent;
}

.households {
    align-items: end;
    display: flex;
    flex-direction: column;
    flex: 2;
    color: grey;
}