/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.top-right-dialog {
    position: absolute !important;
    margin-top: 150px !important;
    margin-left: 80px !important
}

.ngx-toastr.toast-success {
    color: #2e7d32;
    border-left: 6px solid #4CAF50;
}

#toast-container.toast-bottom-right {
    bottom: 1rem !important;
    right: 100rem !important;
    position: fixed !important;
    z-index: 9999 !important;
    align-items: end;
}