html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.top-right-dialog {
    position: absolute !important;
    margin-top: 150px !important;
    margin-left: 80px !important
}